body {
    font-family: Ubuntu, Verdana, sans-serif;
    font-size: 11px;
    background: #ccc;
    color: #555;
    margin: 0px auto;
    width: 960px;
}

.clearfix {
    clear: both;
}

#header {
    font-size: 300%;
    margin: 10px auto 5px;
}

#personal {
    background: #bbb;
    margin: 4px 0;
    padding: 3px;
}

#breadcrumbs {
    float: left;
}

#profile {
    float: right;
}

#main {
    background: #ccc;
}

#content {
    background: #ddd;
    width: 704px;
    float: left;
    padding: 10px;
}

#sidebar {
    background: #ddd;
    width: 212px;
    float: right;
    margin-left: 4px;
    padding: 10px;
}

#footer {
    clear: both;
    background: #bbb;
    margin: 3px 0;
    padding: 3px;
}

a, a:active, a:visited {
    color: #a52919;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

h1 {
    font-size: 175%;
    color: #a52919;
    margin: 2px 0 10px 0;
    padding: 0;
}
h2 {
    font-size: 150%;
    color: #773333;
    margin: 3px 0;
    padding: 0;
}
h3 {
    font-size: 125%;
    color: #555555;
    margin: 2px 0;
    padding: 0;
}

#sidebar h2 {
    margin-bottom: 10px;
}

.blog ul {
    list-style-type: none;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

#sidebar > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#sidebar ul li ul {
    margin-bottom: 6px;
}

#sidebar ul li ul {
    list-style-type: disc;
    padding-left: 18px;
}

.blog ul li {
    margin: 0px;
    margin-bottom: 10px;
}

.entry-preview {
    margin-bottom: -8px;
}

.entry-content, .comment-form {
    margin-top: 10px;
}
