<script type="text/javascript">
$(document).ready(function(){
    $('.year').click(function(){
        $(this).parent().next().toggle();
        return false;
    });
    $('.month').click(function(){
        $(this).parent().next().toggle();
        return false;
    });
});
</script>

<ul>{% regroup entry_list by publish|date:"Y" as years_list %}
    {% for year in years_list %}<li><b><a class="year" href="{% url blog_archive_year year.grouper %}">{{ year.grouper }}</a></b> ({{ year.list|length }})<ul class="listmonthes">{% regroup year.list by publish|date:"m" as item_list %}
        {% for item in item_list %}<li><b><a class="month" href="{% url blog_archive_month year.grouper item.grouper %}">{{ item.grouper }}</a></b> ({{ item.list|length }})<ul class="listentries">
            {% for entry in item.list %}<li><a class="entry" href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
            {% endfor %}
        </ul></li>
        {% endfor %}
    </ul></li>
    {% endfor %}
</ul>

