{% extends "fblog/base_blog.html" %}
{% load comments inlines markup %}

{% block title %}{{ entry.title }} | {{ block.super }}{% endblock %}

{% block breadcrumbs %} - <a href="{% url blog_index %}">Дневник</a> - <a href="{{ entry.category.get_absolute_url }}">{{ entry.category }}</a> / <a href="{% url blog_archive_year entry.publish.year %}">{{ entry.publish.year }}</a> - <a href="{% url blog_archive_month entry.publish.year entry.publish|date:"m" %}">{{ entry.publish|date:"F" }}</a> - <a href="{{ entry.get_absolute_url }}">Заметка</a> - Редактирование{% endblock %}

{% block contentclass %}blog-entry{% endblock %}
{% block content %}
<h1>{{ entry.title }}</h1>

<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

</div>
{% endblock %}
            
