{% extends "fblog/base_blog.html" %}
{% load comments inlines markup %}

{% block title %}{{ entry.title }} | {{ block.super }}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('#publish').click(function(){
        $('#publish').hide();
        $('<span class="process">запрос...</span>').insertAfter('#publish');
        $.get(
            '{{ entry.get_absolute_url }}publish/',
            {},
            function(data){
                $('.process').remove();
                $('#hide').show();
            }
        );
        return false;
    });
    $('#hide').click(function(){
        $('#hide').hide();
        $('<span class="process">запрос...</span>').insertAfter('#hide');
        $.get(
            '{{ entry.get_absolute_url }}hide/',
            {},
            function(data){
                $('.process').remove();
                $('#publish').show();
            }
        );
        return false;
    });
    $('input[name=anonym]').click(function(){
        $('#p_name').toggle();
        $('#p_email').toggle();
        $('#p_url').toggle();
    });
});
</script>
{% endblock %}

{% block breadcrumbs %} - <a href="{% url blog_index %}">Дневник</a> - <a href="{{ entry.category.get_absolute_url }}">{{ entry.category }}</a> / <a href="{% url blog_archive_year entry.publish.year %}">{{ entry.publish.year }}</a> - <a href="{% url blog_archive_month entry.publish.year entry.publish|date:"m" %}">{{ entry.publish|date:"F" }}</a> - Заметка{% endblock %}

{% block contentclass %}blog-entry{% endblock %}
{% block content %}
<h1>{{ entry.title }}</h1>

<div class="entry-meta">{{ entry.publish|date:"j M Y H:m" }} | раздел: <a href="{{ entry.category.get_absolute_url }}">{{ entry.category|lower }}</a> | <a href="{{ entry.get_absolute_url }}#comments">ответов: {% get_comment_count for entry as comment_count %}{{ comment_count }}</a>{% if user.is_staff %} | <a href="{{ entry.get_absolute_url }}edit/">редактирование</a> | <a id="publish" href="{{ entry.get_absolute_url }}publish/" {% if entry.is_published %}style="display: none;"{% endif %}>опубликовать</a><a id="hide" href="{{ entry.get_absolute_url }}hide/" {% if not entry.is_published %}style="display:none"{% endif %}>скрыть</a>{% endif %}</div>

<div class="entry-content">{{ entry.content|render_inlines|markdown }}</div>

<div class="related-entries">
<h2 id="related">Заметки по теме</h2>

<ul>
{% for item in entry.related_entries.all %}
    <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>
</div><!-- /related-entries -->

<div class="entry-comments">
<h2 id="comments">Комментарии</h2>{% get_comment_list for entry as allcomments %}

<div class="comments-list">  
{% for comment in allcomments %}
    <p><b>{{ comment.user_name }}</b>, {{ comment.submit_date }}:
    <br>{{ comment.comment }}</p>
{% endfor %}
</div>

<div class="comment-form">
{% if entry.enable_comments %}
<h3>{% if allcomments|length = 0 %}Напишите первый ответ{% else %}Ваш комментарий{% endif %}, {{ request.user }}:</h3>
{% if user.is_authenticated %}
    {% get_comment_form for entry as form %}
    <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    <input type="checkbox" value="" name="anonym" />анонимно
    <input type="hidden" name="next" value="{{ entry.get_absolute_url }}" />
    {% for field in form %}
        {% if field.is_hidden %}<div>{{ field }}</div>
        {% else %}
            {% if field.errors %}{{ field.errors }}{% endif %}
            <p{% if field.errors %} class="error"{% endif %}{% if field.name == "honeypot" %} style="display:none;"{% endif %}{% if field.name == "url" or field.name == "name" or field.name == "email" %} style="display:none;" id="p_{{ field.name }}"{% endif %}>
            {{ field }} {% if field.name != "comment" %}{{ field.label_tag }}{% endif %}
            </p>
        {% endif %}
    {% endfor %}
    <p class="submit">
    <input type="submit" name="post" class="submit-post" value="Отправить" />
    <!--<input type="submit" name="preview" class="submit-preview" value="Preview" />-->
    </p>
    </form>
{% else %}<a href="{% url auth_login %}?next={{ request.path }}">Необходимо представиться.</a>
{% endif %}
{% else %}<span class="comments-disabled">Комментирование отключено.</span>{% endif %}
</div>

</div><!-- entry-comments -->
{% endblock %}
            
