{% extends "fblog/base_blog.html" %}
{% load comments inlines markup %}

{% block title %}{{ entry.title }} | {{ block.super }}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('#publish').click(function(){
        $.get(
            '{{ entry.get_absolute_url }}publish',
            '',
            function(data){
                $('#publish').hide();
                $('#hide').show();
            }
        );
        return false;
    });
    $('#hide').click(function(){
        $.get(
            '{{ entry.get_absolute_url }}hide',
            '',
            function(data){
                $('#hide').hide();
                $('#publish').show();
            }
        );
        return false;
    });
});
</script>
{% endblock %}

{% block breadcrumbs %} - <a href="{% url blog_index %}">Дневник</a> - <a href="{{ entry.category.get_absolute_url }}">{{ entry.category }}</a> / <a href="{% url blog_archive_year entry.publish.year %}">{{ entry.publish.year }}</a> - <a href="{% url blog_archive_month entry.publish.year entry.publish|date:"m" %}">{{ entry.publish|date:"F" }}</a> - Заметка{% endblock %}

{% block contentclass %}blog-entry{% endblock %}
{% block content %}
<h1>{{ entry.title }}</h1>

<div class="entry-meta">{{ entry.publish|date:"j M Y H:m" }} | раздел: <a href="{{ entry.category.get_absolute_url }}">{{ entry.category|lower }}</a> | <a href="{{ entry.get_absolute_url }}#comments">ответов: {% get_comment_count for entry as comment_count %}{{ comment_count }}</a>{% if user.is_staff %} | <a href="{{ entry.get_absolute_url }}edit/">изменить</a> | <a id="publish" href="{{ entry.get_absolute_url }}publish/" {% if entry.is_published %}style="display: none;"{% endif %}>опубликовать</a><a id="hide" href="{{ entry.get_absolute_url }}hide/" {% if not entry.is_published %}style="display:none"{% endif %}>скрыть</a>{% endif %}</div>

<div class="entry-content">{{ entry.content|render_inlines|markdown }}</div>

<div class="entry-comments">
<h2>Комментарии</h2>{% get_comment_list for entry as allcomments %}

{% if allcomments|length = 0 %}<div id="comments-first">Напишите первый комментарий к этой заметке!</div>{% else %}
<div class="comments-list">  
{% for comment in allcomments %}
<p><b>{{ comment.user_name }}</b>, {{ comment.submit_date }}:
<br>{{ comment.comment }}</p>
{% endfor %}
</div>
{% endif %}

<div class="comment-form">
{% if entry.enable_comments %}<h3>Ваш комментарий:</h3>
{% else %}<h3>Комментирование отключено.</h3>{% endif %}

{% if entry.enable_comments and user.is_authenticated %}
{% render_comment_form for entry %}
{% endif %}
</div>

{% if entry.enable_comments and not user.is_authenticated %}
<div class="comment-login"><a href="{% url auth_login %}?next={{ request.path }}">Необходимо представиться.</a></div>
{% endif %}

</div>
{% endblock %}
            
